<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://code.jquery.com/ui/1.14.0-beta.2/jquery-ui.min.js" integrity="sha256-E7PeZTkHU61hmvmEMwtUMgm9Aff574wswy5F1Y0oIRA=" crossorigin="anonymous"></script>


    @{
        if (Session["User"] == null)
        {
            Response.Redirect(Url.Action("Login", "Home"));

        }
    }

</head>
<body>
    
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Inventory Management System", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            </div>
            <div style="float:right;color:white;">
                User Name: @Session["User"].ToString()
            </div>
        </div>
    </nav>
    <div class="content" style="color: #fff; width: 300px; left: 0; top: 56px; position: absolute; bottom: 0px; background: rgb(33 37 41); border-top: 1px solid#000000">
        <h3>Dashboard</h3>
        <nav class="col-12">
            <ul>
                <li><a href="#">Menu Item1</a></li>
                <li><a href="#">Menu Item2</a></li>
                <li><a href="#">Menu Item3</a></li>
            </ul>
        </nav>

            <footer style="position: fixed; bottom: 0px; height: auto; left: 0px; width: 300px;">
                <hr />
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
</div>
   
    <div style="position:absolute; top:56px; right:0px; bottom:0px; left:300px; background:#f2e8e8">
    <div class="body-content" >
        @RenderBody()
    </div>
   </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
