
@using Inventory.Models;


@{
    ViewBag.Title = "Home Page";
}

<script>
    function ShowEqupmentEntryModal() {
        $('#EqupMentEntryPanel').dialog();
    }
</script>

<section>
    <div class="row">
        <div class="col col-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Equiptment List <span> <button class="btn btn-primary" id="EqupMentEntryPanel" style="float:right" onclick="return ShowEqupmentEntryModal()">+</button></span></h5>
                </div>
                <div class="card-body" style="height:600px;overflow-x:auto;">
                    <table class="table table-striped table-hover">
                        <tr>
                            <th style="display:none">ID</th>
                            <th>ProductName</th>
                            <th>Qty</th>
                            <th>EntryDate</th>
                        </tr>

                        @{
                            List<Equipment> equipment = Equipment.ListEquipment();
                            foreach (Equipment obj in equipment)
                            {
                                <tr>
                                    <td style="display:none">@obj.EquipmentId</td>
                                    <td>@obj.Name</td>
                                    <td>@obj.Qty.ToString()</td>
                                    <td>@obj.EntryDate</td>
                                </tr>
                            }
                        }

                    </table>
                </div>
            </div>
        </div>
        <div class="col col-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Product User List <span> <button class="btn btn-primary" id="EqupMentEntryPanel" style="float:right" onclick="return ShowMemberEntryModal()">+</button></span></h5>
                </div>
                <div class="card-body" style="height:600px;overflow-x:auto;">
                    <table class="table table-striped table-hover">
                        <tr>
                            <th style="display:none">ID</th>
                            <th>ProductName</th>
                            <th>MemberName</th>
                            <th>MobileNumber</th>
                        </tr>

                        @{
                            List<Equipment> AssignedList = Equipment.ListAssinedEquipment();
                            foreach (Equipment obj in AssignedList)
                            {
                                <tr>
                                    <td style="display:none">@obj.EquipmentId</td>
                                    <td>@obj.Name</td>
                                    <td>@obj.Member.MemberName</td>
                                    <td>@obj.Member.MobileNumber.ToString()</td>
                                </tr>
                            }
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
@*@Html.Partial("_PartialEquipmentEntry.cshtml")*@
    